./config/.env
./config/config.ini
.DS_Store
code/modules/.DS_Store
code/modules/depression/kaggle/input/sentiment140/training.1600000.processed.noemoticon.csv
code/modules/depression/kaggle/input/sentiment140/training.1600000.processed.noemoticon.csv.nosync
./Tutorias/RandomForestOptimization/input/
*.csv
